# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/compiler.xml
.idea/encodings.xml
.idea/libraries/Maven__com_ibm_db2_jcc_db2jcc_4_23_42.xml
.idea/libraries/Maven__com_microsoft_sqlserver_mssql_jdbc_6_2_2_jre7.xml
.idea/libraries/Maven__com_oracle_jdbc_ojdbc8_12_2_0_1.xml
.idea/libraries/Maven__commons_cli_commons_cli_1_4.xml
.idea/libraries/Maven__commons_logging_commons_logging_api_1_1.xml
.idea/libraries/Maven__log4j_log4j_1_2_17.xml
.idea/libraries/Maven__mysql_mysql_connector_java_5_1_40.xml
.idea/libraries/Maven__net_sourceforge_javacsv_javacsv_2_0.xml
.idea/libraries/Maven__org_apache_tomcat_tomcat_jdbc_8_5_6.xml
.idea/libraries/Maven__org_apache_tomcat_tomcat_juli_8_5_6.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_21.xml
.idea/libraries/Maven__org_slf4j_slf4j_log4j12_1_7_21.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_1_4_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_1_4_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_1_4_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_jdbc_1_4_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_aop_4_3_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_beans_4_3_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_4_3_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_core_4_3_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_expression_4_3_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_jdbc_4_3_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_tx_4_3_4_RELEASE.xml
.idea/libraries/Maven__org_yaml_snakeyaml_1_17.xml
.idea/misc.xml
.idea/modules.xml
.idea/SQL-query-export-to-CSV.iml
.idea/vcs.xml
.idea/workspace.xml
target/classes/application.properties
target/classes/log4j.properties
target/maven-archiver/pom.properties
target/sql-exporter-1.0-SNAPSHOT.jar.original
